@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
  /* font-family: "Poppins"; */
  /* font-family: "Open Sans"; */
}

html,
body {
  background-color: #000000;
  width: 100%;
}

section {
  width: 1440px;
  margin: auto;
  background-color: #ffffff;
}

header{
  padding: 75px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 175px;
}

header button{
  background-color: transparent;
  border: 1px solid #FF5EAC;
  padding: 8px 24px;
  font-size: 18px;
  border-radius: 50px;
  color: #FF5EAC;
  font-family: "Open Sans";
}

.first-div{
  text-align: center;
  padding: 0 215px;
  margin-bottom: 110px;
}

.first-div h1{
  font-family: "Poppins";
  font-size: 47px;
  color: hsl(192, 100%, 9%);
  margin-bottom: 20px;
}

.first-div p{
  padding: 0 210px;
  color: hsl(192, 100%, 9%);
  font-size: 19px;
  font-family: "Open Sans";
  font-weight: 500;
  margin-bottom: 45px;
}

.first-div button{
  background-color: hsl(322, 100%, 66%);
  border: none;
  padding: 27px 105px;
  font-size: 20px;
  border-radius: 50px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 500;
  box-shadow: 5px 10px 5px #f0eeee;
}

.second-div{
  display: flex;
  flex-direction: column;
  padding: 0 210px;
  gap: 130px;
  margin-bottom: 140px;
}

.second-div > div{
  display: flex;
  padding: 0 75px;
  align-items: center;
  justify-content: space-between;
}

.second-div > div div h1{
  color: hsl(192, 100%, 9%);
  font-family: "Poppins";
  font-size: 100px;
  font-weight: 600;
}

.second-div > div div p{
  text-align: center;
  font-size: 28px;
  font-family: "Open Sans";
  color: #90989E;
}

.third-div{
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.third-div > div{
  background-color: #F6FBFF;
  display: flex;
  justify-content: space-between;
  padding: 65px 130px;
}

.third-div > div div:nth-child(1){
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.third-div > div div:nth-child(1) h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 40px;
}

.third-div > div div:nth-child(1) p{
  font-family: "Open Sans";
  color: hsl(192, 100%, 9%);
  font-size: 16px;
  font-weight: 600;
}

.third-div > div div:nth-child(2){
  width: 520px;
}

.third-div > div div:nth-child(2) img{
  width: inherit;
}

.fourth-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  margin-bottom: 115px;
}

.fourth-div img{
  width: 525px;
}

.fourth-div > div{
  width: 535px;
}

.fourth-div > div h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 40px;
  margin-bottom: 10px;
}

.fourth-div > div p{
  font-family: "Open Sans";
  color: hsl(192, 100%, 9%);
  font-size: 16px;
  font-weight: 600;
}

.fifth-div{
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
}

.fifth-div > div{
    background-color: #F6FBFF;
    display: flex;
    justify-content: space-between;
    padding: 65px 130px;
}

.fifth-div > div div:nth-child(1){
  width: 515px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.fifth-div > div div:nth-child(1) h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 40px;
}

.fifth-div > div div:nth-child(1) p{
  font-family: "Open Sans";
  color: hsl(192, 100%, 9%);
  font-size: 16px;
  font-weight: 600;
}

.fifth-div > div div:nth-child(2){
  width: 530px;
}

.fifth-div > div div:nth-child(2) img{
  width: inherit;
}

.sixth-div{
  text-align: center;
}

.sixth-div h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 42px;
}

.sixth-div button{
  background-color: hsl(322, 100%, 66%);
  padding: 28px 113px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  margin-top: 40px;
  box-shadow: 5px 3px 5px 5px #ecebeb;
  margin-bottom: 235px  ;
}

footer{
  display: flex;
  flex-direction: column;
  color: #fff;
}

footer > div{
  background-color: hsl(192, 100%, 9%);
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  padding-top: 130px;
  padding-bottom: 100px;
}

footer > div div:nth-child(1){
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 310px;
font-family: "Open Sans";
font-size: 15px;
}

.footer-logo{
  width: 240px;
  margin-bottom: 15px;
}

footer > div div:nth-child(1) > :nth-child(2){
  line-height: 24px;
  margin-bottom: 15px;
}

footer > div div:nth-child(1) :nth-child(3), footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 80px;
}

footer > div div:nth-child(1) > div{
 display: flex;
 gap: 25px;
 margin: 0;
 font-size: 32px;
}

footer > div div:nth-child(2){
  width: 520px;
}

footer > div div:nth-child(2) h1{
 font-family: "Open Sans";
 font-size: 24px;
 font-weight: 600;
 margin-bottom: 25px;
}

footer > div div:nth-child(2) p{
 font-family: "Open Sans";
 font-size: 16px;
 margin-bottom: 45px;
 line-height: 26px;
}

footer form{
  display: flex;
}

footer form input{
  
}


