@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
}

html,
body {
  background-color: #000000;
  width: 100%;
  overflow-x: hidden;
}

section {
  width: 1440px;
  margin: auto;
  background-color: #ffffff;
}

header{
  padding: 75px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 175px;
}

header button{
  background-color: transparent;
  border: 1px solid #FF5EAC;
  padding: 8px 24px;
  font-size: 18px;
  border-radius: 50px;
  color: #FF5EAC;
  font-family: "Open Sans";
}

header button:hover{
  border: 1px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
}

.first-div{
  text-align: center;
  padding: 0 215px;
  margin-bottom: 110px;
}

.first-div h1{
  font-family: "Poppins";
  font-size: 47px;
  color: hsl(192, 100%, 9%);
  margin-bottom: 20px;
}

.first-div p{
  padding: 0 210px;
  color: hsl(192, 100%, 9%);
  font-size: 19px;
  font-family: "Open Sans";
  font-weight: 500;
  margin-bottom: 45px;
}

.first-div button{
  background-color: hsl(322, 100%, 66%);
  border: none;
  padding: 27px 105px;
  font-size: 20px;
  border-radius: 50px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 500;
  box-shadow: 5px 10px 5px #f0eeee;
}

.first-div button:hover{
  background-color: hsl(321, 100%, 78%);
}

.second-div{
  display: flex;
  flex-direction: column;
  padding: 0 210px;
  gap: 130px;
  margin-bottom: 140px;
}

.second-div > div{
  display: flex;
  padding: 0 75px;
  align-items: center;
  justify-content: space-between;
}

.second-div > div div h1{
  color: hsl(192, 100%, 9%);
  font-family: "Poppins";
  font-size: 100px;
  font-weight: 600;
}

.second-div > div div p{
  text-align: center;
  font-size: 28px;
  font-family: "Open Sans";
  color: #90989E;
}

.third-div{
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.third-div-top-mobile, .third-div-bottom-mobile{
  display: none;
}

.third-div > div{
  background-color: #F6FBFF;
  display: flex;
  justify-content: space-between;
  padding: 65px 130px;
}

.third-div > div div:nth-child(1){
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.third-div > div div:nth-child(1) h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 40px;
}

.third-div > div div:nth-child(1) p{
  font-family: "Open Sans";
  color: hsl(192, 100%, 9%);
  font-size: 16px;
  font-weight: 600;
}

.third-div > div div:nth-child(2){
  width: 520px;
}

.third-div > div div:nth-child(2) img{
  width: inherit;
}

.fourth-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  margin-bottom: 115px;
}

.fourth-div img{
  width: 525px;
}

.fourth-div > div{
  width: 535px;
}

.fourth-div > div h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 40px;
  margin-bottom: 10px;
}

.fourth-div > div p{
  font-family: "Open Sans";
  color: hsl(192, 100%, 9%);
  font-size: 16px;
  font-weight: 600;
}

.fifth-div{
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
}

.fifth-div-top-mobile, .fifth-div-bottom-mobile{
  display: none;
}

.fifth-div > div{
    background-color: #F6FBFF;
    display: flex;
    justify-content: space-between;
    padding: 65px 130px;
}

.fifth-div > div div:nth-child(1){
  width: 515px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.fifth-div > div div:nth-child(1) h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 40px;
}

.fifth-div > div div:nth-child(1) p{
  font-family: "Open Sans";
  color: hsl(192, 100%, 9%);
  font-size: 16px;
  font-weight: 600;
}

.fifth-div > div div:nth-child(2){
  width: 530px;
}

.fifth-div > div div:nth-child(2) img{
  width: inherit;
}

.sixth-div{
  text-align: center;
}

.sixth-div h1{
  font-family: "Poppins";
  color: hsl(192, 100%, 9%);
  font-size: 42px;
}

.sixth-div button{
  background-color: hsl(322, 100%, 66%);
  padding: 28px 113px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  margin-top: 40px;
  box-shadow: 5px 3px 5px 5px #ecebeb;
  margin-bottom: 235px  ;
}

.sixth-div button:hover{
  background-color: hsl(321, 100%, 78%);
}

footer{
  display: flex;
  flex-direction: column;
  color: #fff;
}

footer > div{
  background-color: hsl(192, 100%, 9%);
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  padding-top: 130px;
  padding-bottom: 100px;
}

footer > div div:nth-child(1){
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 310px;
font-family: "Open Sans";
font-size: 15px;
}

.footer-logo{
  width: 240px;
  margin-bottom: 15px;
}

footer > div div:nth-child(1) > :nth-child(2){
  line-height: 24px;
  margin-bottom: 15px;
}

footer > div div:nth-child(1) :nth-child(3), footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 80px;
}

footer > div div:nth-child(1) > div{
 display: flex;
 gap: 25px;
 margin: 0;
 font-size: 32px;
}

footer > div div:nth-child(2){
  width: 520px;
}

footer > div div:nth-child(2) h1{
 font-family: "Open Sans";
 font-size: 24px;
 font-weight: 600;
 margin-bottom: 25px;
}

footer > div div:nth-child(2) p{
 font-family: "Open Sans";
 font-size: 16px;
 margin-bottom: 45px;
 line-height: 26px;
}

footer form{
  display: flex;
  justify-content: space-between;
}

footer form input{
  width: 320px;
  padding: 16px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

footer form input:focus{
  outline: none;
}

[type="email"]:invalid{
  border: 1px solid hsl(322, 100%, 66%) ;
}

.error-message{
  display: none;
  color: red;
  font-size: 10px;
  font-family: "Open Sans";
  margin-top: 10px;
}

footer form button{
  padding: 15px 15px;
  font-size: 18px;
  width: 150px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #fff;
  background-color: hsl(322, 100%, 66%);
  border-radius: 5px;
  border: none;
}

footer form button:hover{
  background-color: hsl(321, 100%, 78%);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 374px and BELOW */
@media screen and (max-width: 374px) {
  section {
    width: 100%;
  }

  br{
    display: none;
  }

  header{
    padding: 0 25px;
    padding-top: 25px;
    margin-bottom: 125px;
  }

  header img{
    width: 95px;
  }

  header button{
    font-size: 12px;
    padding: 3px 12px;
  }

  .first-div {
    padding: 0;
  }

  .first-div h1{
    padding: 0 55px;
    font-size: 23px;
  }

  .first-div p{
    padding: 0 45px;
    font-size: 13px;
  }

  .first-div button{
    padding: 9px 24px;
    font-size: 16px;
  }

  .second-div{
    padding: 0 40px;
    gap: 120px;
    margin-bottom: 25px;
  }

  .second-div > div{
    flex-direction: column;
    padding: 0 65px;
    gap: 100px;
  }

  .second-div > div div h1{
  font-size: 60px;
}

.second-div > div div p{
  font-size: 18px;
}

.third-div{
margin-bottom: 130px;
}

.third-div-top-mobile, .third-div-bottom-mobile{
  display: block;
}

.third-div-top-desktop, .third-div-bottom-desktop{
  display: none;
}

.third-div > div{
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  padding: 85px 40px;
  gap: 80px;
}

.third-div > div div:nth-child(1){
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.third-div > div div:nth-child(1) h1{
  font-size: 24px;
  text-align: center;
}

.third-div > div div:nth-child(1) p{
text-align: center;
  font-size: 13px;
}

.third-div > div div:nth-child(2){
  width: 100%;
}

.fourth-div{
  flex-direction: column;
  justify-content: center;
  gap: 90px;
  padding: 0 30px;
}

.fourth-div img{
  width: 100%;
  padding: 0 30px;
}

.fourth-div > div{
  width: 100%;
}

.fourth-div > div h1{
 text-align: center;
  font-size: 20px;
}

.fourth-div > div p{
 text-align: center;
  font-size: 13px;
}

.fifth-div{
margin-bottom: 80px;
}

.fifth-div-top-mobile, .fifth-div-bottom-mobile{
  display: block;
}

.fifth-div-top-desktop, .fifth-div-bottom-desktop{
  display: none;
}

.fifth-div > div{
    flex-direction: column-reverse;
    gap: 90px;
    padding: 120px 0;
}

.fifth-div > div div:nth-child(1){
  width: 100%;
  padding: 0 35px;
  text-align: center;
}

.fifth-div > div div:nth-child(1) h1{
  font-size: 28px;
}

.fifth-div > div div:nth-child(1) p{
  font-size: 13px;
}

.fifth-div > div div:nth-child(2){
  width: 100%;
  padding: 0 55px;
}

.sixth-div h1{
  padding: 0 65px;
  font-size: 24px;
}

.sixth-div button{
  padding: 10px 32px;
  font-size: 14px;
  margin: 0 90px;
  margin-top: 40px;
  margin-bottom: 250px;
  width: max-content;
}

footer > div{
  flex-direction: column-reverse;
  padding: 0 27px;
  padding-top: 130px;
  padding-bottom: 100px;
  gap: 100px;
}

footer > div div:nth-child(1){
  width: 100%;
}

.footer-logo{
  width: 200px;
}

footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 50px;
}

footer > div div:nth-child(2){
  width: 100%;
}

footer > div div:nth-child(2) h1{
 font-size: 22px;
}

footer > div div:nth-child(2) p{
 font-size: 14px;
 padding-right: 15px;
}

footer form{
flex-direction: column;
text-align: right;
gap: 15px;
}

footer form input{
  width: 100%;
  font-size: 14px;
}

footer form button{
  padding: 11px 15px;
  font-size: 16px;
  margin-left: auto;
}
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 375px TO 450px */
@media screen and (min-width: 375px) and (max-width: 450px) {
  section {
    width: 100%;
    margin: auto;
  }

  br{
    display: none;
  }

  header{
    padding: 0 25px;
    padding-top: 25px;
    margin-bottom: 125px;
  }

  header img{
    width: 95px;
  }

  header button{
    font-size: 12px;
    padding: 3px 12px;
  }

   .first-div {
    padding: 0;
  }

  .first-div h1{
    padding: 0 55px;
    font-size: 23px;
  }

  .first-div p{
    padding: 0 45px;
    font-size: 13px;
  }

  .first-div button{
    padding: 9px 24px;
    font-size: 16px;
  }

    .second-div{
    padding: 0 40px;
    gap: 120px;
    margin-bottom: 25px;
  }

  .second-div > div{
    flex-direction: column;
    padding: 0 65px;
    gap: 100px;
  }

  .second-div > div div h1{
  font-size: 60px;
}

.second-div > div div p{
  font-size: 18px;
}

.third-div{
margin-bottom: 130px;
}

.third-div-top-mobile, .third-div-bottom-mobile{
  display: block;
}

.third-div-top-desktop, .third-div-bottom-desktop{
  display: none;
}

.third-div > div{
  flex-direction: column-reverse;
  padding: 85px 40px;
  gap: 80px;
}

.third-div > div div:nth-child(1){
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.third-div > div div:nth-child(1) h1{
  font-size: 24px;
  text-align: center;
}

.third-div > div div:nth-child(1) p{
text-align: center;
  font-size: 13px;
}

.third-div > div div:nth-child(2){
  width: 100%;
}

.fourth-div{
  flex-direction: column;
  justify-content: center;
  gap: 90px;
  padding: 0 30px;
}

.fourth-div img{
  width: 100%;
  padding: 0 30px;
}

.fourth-div > div{
  width: 100%;
}

.fourth-div > div h1{
 text-align: center;
  font-size: 20px;
}

.fourth-div > div p{
 text-align: center;
  font-size: 13px;
}

.fifth-div{
margin-bottom: 80px;
}

.fifth-div-top-mobile, .fifth-div-bottom-mobile{
  display: block;
}

.fifth-div-top-desktop, .fifth-div-bottom-desktop{
  display: none;
}

.fifth-div > div{
    flex-direction: column-reverse;
    gap: 90px;
    padding: 120px 0;
}

.fifth-div > div div:nth-child(1){
  width: 100%;
  padding: 0 35px;
  text-align: center;
}

.fifth-div > div div:nth-child(1) h1{
  font-size: 28px;
}

.fifth-div > div div:nth-child(1) p{
  font-size: 13px;
}

.fifth-div > div div:nth-child(2){
  width: 100%;
  padding: 0 55px;
}

.sixth-div h1{
  padding: 0 65px;
  font-size: 24px;
}

.sixth-div button{
  padding: 10px 32px;
  font-size: 14px;
  margin: 0 90px;
  margin-top: 40px;
  margin-bottom: 250px;
  width: max-content;
}

footer > div{
  flex-direction: column-reverse;
  padding: 0 27px;
  padding-top: 130px;
  padding-bottom: 100px;
  gap: 100px;
}

footer > div div:nth-child(1){
  width: 100%;
}

.footer-logo{
  width: 200px;
}

footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 50px;
}

footer > div div:nth-child(2){
  width: 100%;
}

footer > div div:nth-child(2) h1{
 font-size: 22px;
}

footer > div div:nth-child(2) p{
 font-size: 14px;
 padding-right: 15px;
}

footer form{
flex-direction: column;
text-align: right;
gap: 15px;
}

footer form input{
  width: 100%;
  font-size: 14px;
}

footer form button{
  padding: 11px 15px;
  font-size: 16px;
  margin-left: auto;
}
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 451px TO 525px */
@media screen and (min-width: 451px) and (max-width: 525px) {
  section {
    width: 100%;
    margin: auto;
  }

  br{
    display: none;
  }

  header{
    padding: 0 25px;
    padding-top: 25px;
    margin-bottom: 125px;
  }

  header img{
    width: 125px;
  }

  header button{
    font-size: 14px;
    padding: 5px 12px;
  }

  .first-div {
    padding: 0;
  }

  .first-div h1{
    padding: 0 55px;
    font-size: 32px;
  }

  .first-div p{
    padding: 0 45px;
    font-size: 18px;
  }

  .first-div button{
    padding: 12px 24px;
    font-size: 16px;
  }

  .second-div{
    padding: 0 40px;
    gap: 120px;
    margin-bottom: 25px;
  }

  .second-div > div{
    flex-direction: column;
    padding: 0 65px;
    gap: 100px;
  }

  .second-div > div div h1{
  font-size: 60px;
}

.second-div > div div p{
  font-size: 18px;
}

.third-div{
margin-bottom: 130px;
}

.third-div-top-mobile, .third-div-bottom-mobile{
  display: block;
}

.third-div-top-desktop, .third-div-bottom-desktop{
  display: none;
}

.third-div > div{
  flex-direction: column-reverse;
  padding: 85px 40px;
  gap: 80px;
}

.third-div > div div:nth-child(1){
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.third-div > div div:nth-child(1) h1{
  font-size: 32px;
  text-align: center;
}

.third-div > div div:nth-child(1) p{
text-align: center;
  font-size: 16px;
}

.third-div > div div:nth-child(2){
  width: 100%;
}

.fourth-div{
  flex-direction: column;
  justify-content: center;
  gap: 90px;
  padding: 0 30px;
}

.fourth-div img{
  width: 100%;
  padding: 0 30px;
}

.fourth-div > div{
  width: 100%;
}

.fourth-div > div h1{
 text-align: center;
  font-size: 32px;
}

.fourth-div > div p{
 text-align: center;
  font-size: 16px;
}

.fifth-div{
margin-bottom: 80px;
}

.fifth-div-top-mobile, .fifth-div-bottom-mobile{
  display: block;
}

.fifth-div-top-desktop, .fifth-div-bottom-desktop{
  display: none;
}

.fifth-div > div{
    flex-direction: column-reverse;
    gap: 90px;
    padding: 120px 0;
}

.fifth-div > div div:nth-child(1){
  width: 100%;
  padding: 0 35px;
  text-align: center;
}

.fifth-div > div div:nth-child(1) h1{
  font-size: 32px;
}

.fifth-div > div div:nth-child(1) p{
  font-size: 16px;
}

.fifth-div > div div:nth-child(2){
  width: 100%;
  padding: 0 55px;
}

.sixth-div h1{
  padding: 0 65px;
  font-size: 36px;
}

.sixth-div button{
  padding: 12px 32px;
  font-size: 16px;
  margin: 0 90px;
  margin-top: 40px;
  margin-bottom: 250px;
  width: max-content;
}

footer > div{
  flex-direction: column-reverse;
  padding: 0 27px;
  padding-top: 130px;
  padding-bottom: 100px;
  gap: 100px;
}

footer > div div:nth-child(1){
  width: 100%;
}

.footer-logo{
  width: 200px;
}

footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 50px;
}

footer > div div:nth-child(2){
  width: 100%;
}

footer > div div:nth-child(2) h1{
 font-size: 22px;
}

footer > div div:nth-child(2) p{
 font-size: 14px;
 padding-right: 15px;
}

footer form{
flex-direction: column;
text-align: right;
gap: 15px;
}

footer form input{
  width: 100%;
  font-size: 14px;
}

footer form button{
  padding: 11px 15px;
  font-size: 16px;
  margin-left: auto;
}
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 526px TO 600px */
@media screen and (min-width: 526px) and (max-width: 600px) {
  section {
    width: 100%;
    margin: auto;
  }

  br{
    display: none;
  }

  header{
    padding: 0 25px;
    padding-top: 25px;
    margin-bottom: 125px;
  }

  header img{
    width: 145px;
  }

  header button{
    font-size: 14px;
    padding: 10px 20px;
  }

  .first-div {
    padding: 0;
  }

  .first-div h1{
    padding: 0 55px;
    font-size: 32px;
  }

  .first-div p{
    padding: 0 45px;
    font-size: 18px;
  }

  .first-div button{
    padding: 12px 24px;
    font-size: 16px;
  }

  .second-div{
    padding: 0 40px;
    gap: 120px;
    margin-bottom: 25px;
  }

  .second-div > div{
    flex-direction: column;
    padding: 0 65px;
    gap: 100px;
  }

  .second-div > div div h1{
  font-size: 60px;
}

.second-div > div div p{
  font-size: 18px;
}

.third-div{
margin-bottom: 130px;
}

.third-div-top-mobile, .third-div-bottom-mobile{
  display: block;
}

.third-div-top-desktop, .third-div-bottom-desktop{
  display: none;
}

.third-div > div{
  flex-direction: column-reverse;
  padding: 85px 40px;
  gap: 80px;
}

.third-div > div div:nth-child(1){
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.third-div > div div:nth-child(1) h1{
  font-size: 32px;
  text-align: center;
}

.third-div > div div:nth-child(1) p{
text-align: center;
  font-size: 16px;
}

.third-div > div div:nth-child(2){
  width: 100%;
}

.fourth-div{
  flex-direction: column;
  justify-content: center;
  gap: 90px;
  padding: 0 30px;
}

.fourth-div img{
  width: 100%;
  padding: 0 30px;
}

.fourth-div > div{
  width: 100%;
}

.fourth-div > div h1{
 text-align: center;
  font-size: 32px;
}

.fourth-div > div p{
 text-align: center;
  font-size: 16px;
}

.fifth-div{
margin-bottom: 80px;
}

.fifth-div-top-mobile, .fifth-div-bottom-mobile{
  display: block;
}

.fifth-div-top-desktop, .fifth-div-bottom-desktop{
  display: none;
}

.fifth-div > div{
    flex-direction: column-reverse;
    gap: 90px;
    padding: 120px 0;
}

.fifth-div > div div:nth-child(1){
  width: 100%;
  padding: 0 35px;
  text-align: center;
}

.fifth-div > div div:nth-child(1) h1{
  font-size: 32px;
}

.fifth-div > div div:nth-child(1) p{
  font-size: 16px;
}

.fifth-div > div div:nth-child(2){
  width: 100%;
  padding: 0 55px;
}

.sixth-div h1{
  padding: 0 65px;
  font-size: 36px;
}

.sixth-div button{
  padding: 12px 32px;
  font-size: 16px;
  margin: 0 90px;
  margin-top: 40px;
  margin-bottom: 250px;
  width: max-content;
}

footer > div{
  flex-direction: column-reverse;
  padding: 0 27px;
  padding-top: 130px;
  padding-bottom: 100px;
  gap: 100px;
}

footer > div div:nth-child(1){
  width: 100%;
}

.footer-logo{
  width: 200px;
}

footer > div div:nth-child(1) :nth-child(4){
  margin-bottom: 50px;
}

footer > div div:nth-child(2){
  width: 100%;
}

footer > div div:nth-child(2) h1{
 font-size: 22px;
}

footer > div div:nth-child(2) p{
 font-size: 14px;
 padding-right: 15px;
}

footer form{
flex-direction: column;
text-align: right;
gap: 15px;
}

footer form input{
  width: 100%;
  font-size: 14px;
}

footer form button{
  padding: 11px 15px;
  font-size: 16px;
  margin-left: auto;
}
}
